<div>
  <label for="lang-select">Language:</label>
  <select id="lang-select" name="lang">
    <option>English</option>
    <option>German</option>
    <option>Russian</option>
  </select>
</div>
<div>
  <label for="number-of-words-select">Nb. of words:</label>
  <select id="number-of-words-select" name="words">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>50</option>
  </select>
</div>
<button class="btn btn-primary" (click)="backClick()">Back</button>
<button class="btn btn-primary" (click)="save()">Save</button>
